/* ------ New custom style from Morten's ------ */
/* ------ large screens ------ */
@media screen and (min-width: $query__medium) {
	.menu-toggle {
		display: none;
	}

	.dropdown-toggle {
    background-color: transparent;
    border: none;
  }

	.main-navigation {
		border-top: 1px solid $green;
		.container {
	    width: 70%;
	  }
		ul {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			margin: 0;
			li {
				display: inline;
				font-family: 'Montserrat', 'Helvetica' , sans-serif;
				text-transform: uppercase;
				padding: 1.5em 0;
				a {
					color: $dark-grey;
					padding: .4em .8em;
					&:hover {
		        text-decoration: none;
		        color: $green;
		        padding-top: 1.4em;
		        border-top: 3px solid $green;
		      }
				}
			}
			li:nth-child(6) {
		    position: relative;
		    .dropdown-toggle {
		      position: absolute;
		      top: 23px;
		      left: 115px;
		    }
		  }
			li:nth-child(7) a {
		    @include green-button-nav();
				&:hover {
			    @include white-button-nav();
			  }
		  }
			.current-menu-item {
				color: $green;
				padding-top: 1.375em;
				margin-top: 0;
				border-top: 2px solid $green;
			}
			ul {
				display: none;
				flex-direction: column;
			}
		}
	}
	.toggled-on ul,
	.sub-menu.toggled-on {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 160px;
		left: 0;
		margin: 0;
		margin-top: 24px;
		padding: 0;
		z-index: 1;
		border-top: 2px solid $green;
		li {
			margin-left: 0.5em;
			padding: 0.975em 0;
			font-size: 85%;
			background-color: $white;
			border-bottom: 1px solid $very-light-grey;
			&:hover {
				border: none;
				background-color: $light-green;
			}
			a {
				background: none;
				&:hover {
					border: none;
					color: $dark-grey;
				}
			}
		}
	}
}

/* ------ smaller screens ? (Morten's) ------ */
@media screen and (max-width: $query__medium-large) {
	.main-navigation {
		ul {
		display: none;
			.current-menu-item {
				margin: 0;
				padding: 0;
				border-top: none;
				&:hover {
					padding-top: 0;
					border: none;
					background-color: $light-green;
				}
			}
		}
		/* Sandwich menu icon */
		.menu-toggle {
			margin: 0 auto;
			display: block;
			padding: 1em;
			font-size: 80%;
			text-transform: uppercase;
			color: $dark-grey;
			background-color: transparent;
			border: none;
		}
	}

/* Toggle small menu and sub-menus on */
	.toggled-on ul,
	.sub-menu.toggled-on {
		display: block;
		width: 100%;
		background-color: $very-light-grey;
		margin: 0;
		border-top: none;
		li {
			margin: 0;
			padding: 0;
			border: none;
			background-color: $very-light-grey;
			a {
				display: inline-block;
				width: 100%;
				padding: 0.75em 0 1em 0.75em;
				text-decoration: none;
				color: $dark-grey;
				border-bottom: 1px solid $light-grey;
				&:hover {
					padding: 0.75em 0 1em 0.75em;
					border: none;
					background-color: $light-green;
					border-bottom: 1px solid $light-grey;
				}
			}
		}
		li:nth-child(6) {
			position: relative;
			.dropdown-toggle {
				position: absolute;
				top: 0;
				left: 100px;
			}
		}
		li:nth-child(7) {
			a {
				margin: 0;
				padding: 0;
				border: none;
				border-radius: 0;
				background-color: $green;
				display: inline-block;
				width: 100%;
				padding: 0.75em 0 1em 0.75em;
				text-decoration: none;
				color: $white;
				border-bottom: 1px solid $light-grey;
				&:hover {
					padding: 0.75em 0 1em 0.75em;
					border: none;
					color: $dark-grey;
					background-color: $light-green;
					border-bottom: 1px solid $light-grey;
				}
			}
		}
		ul {
			top: 77px;
		}
	}
}

/* ------ Legacy style ------ */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
